<!DOCTYPE html>
<html ng-app="productsApp">
  <head>
    <meta charset="utf-8">
    <title>Products with a Factory</title>
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
    <script>
    var myApp = angular.module('productsApp', []);

    myApp.factory('productFactory', function(){
      var products= [{name:'Keyboard', price: 149.99, quantity: 50},{name:'Mouse', price: 59.99, quantity: 50},{name:'Basketball', price: 21.99, quantity: 50}];
      var factory = {};
      factory.getProducts = function(callback){
        callback(products);
      }
      factory.addProduct = function(data){
        products.push(data);
      }
      factory.removeProduct = function(i){
        products.splice(i,1);
      }
      factory.buyProduct = function(i){
        if (products[i].quantity > 0) {
          products[i].quantity --;
        }
      }

      return factory;
    });

    myApp.controller('produtsController', ['$scope', 'productFactory', function($scope, productFactory){
      $scope.products = [];
      productFactory.getProducts(function(data){
        $scope.products = data;
      });
      $scope.createProduct = function(){
        $scope.newProduct.quantity = 50
        productFactory.addProduct($scope.newProduct)
        $scope.newProduct = {}
      }
      $scope.deleteProduct = function(i){
        productFactory.removeProduct(i)
      }
    }]);

    myApp.controller('ordersController', ['$scope', 'productFactory',function($scope, productFactory){
      $scope.products = [];
      productFactory.getProducts(function(data){
        $scope.products = data;
      });

      $scope.buyProduct = function(i){
        productFactory.buyProduct(i);
      }

    }]);
    </script>
  </head>
  <body>
    <div ng-controller='produtsController'>
      <h1>Products Controller</h1>
      <form>
        <p>Product Name: <input type="text" ng-model='newProduct.name'></p>
        <p>Product Price: $<input type="number" ng-model='newProduct.price'></p>
        <input type="submit" value="Add Product" ng-click='createProduct()'>
      </form>
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="product in products track by $index ">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td><button ng-click='deleteProduct($index)'>Delete</button></td>
        </tr>
      </table>
    </div>
    <div ng-controller='ordersController'>
      <h1>Orders Controller</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="product in products track by $index ">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td>{{product.quantity}}</td>
          <td><button ng-click='buyProduct($index)'>Buy</button></td>
        </tr>
      </table>
    </div>
  </body>
</html>
