<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QuotingDojo</title>
    </head>
    <body>
        <h1>Welcome to QuotingDojo</h1>
        <form action="/quotes" method="post">
            <p>Your Name:
                <input type="text" name="name"></p>
            <p>Your Quote:
                <input type="text" name="quote"></p>
            <p><input type="submit" value="Add my quote!">
                <a href="/quotes">
                    <button type="button">Skip to Quotes!</button>
                </a>
            </p>
        </form>
    </body>
</html>
