<div ng-controller="welcomeController">
	<p><img src="https://meanstacktips.files.wordpress.com/2015/09/cropped-mean-stack-logo1.jpg"></p>
	{{message}}
	<p>This partial is controlled by the welcomeController in clients/assets/controllers/welcomecontroller </p>
	<p>The message can be found in the welcomeFactory in side clients/assets/factories/welcomeFactory.js</p>
	<p>The main index can be found in client/index.html and is automatically loaded by the node server as the default root route('/').</p>
	<p>This partial is inside clients/assets/partials.html</p>
	<p><b>Client</b> side routes can be found in client/app.js</p>
	<p><b>Server</b> side routes can be found in server/config/routes.js</p>
	<p>Be sure to change the DB name in server/config/mongoose.js</p>
	<h2>Remember, all front end code will be found in the <i>client</i> folder and all backend code will be found in the <i>server</i> folder</h2>
	<p>For more information about a MEAN project, checkout <a href="http://learn.codingdojo.com/m/4/3711/24927">learn.codingdojo.com.</a></p>
</div>