* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/**********Wrapper**********/

#wrapper {
    width: 597px;
    height: 925px;
    margin: 0 auto;
    padding: 36px 51px 0px 52px;
}


/**********Menu**********/

#navBar {
    height: 40px;
    width: 597px;
    background: linear-gradient(#F6F6F6, #DFDFDF);
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

#navBar ul {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

#navBar ul li {
    border-right: 1px solid #E7E7E7;
    width: 30px;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 15px 12px 12px;
    text-align: center;
    list-style: none;
    display: inline-block;
}

.menuimg1 {
    width: 50px;
    height: 42px;
    position: relative;
    right: 1px;
    bottom: 1px;
    padding: 0;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#searchBar {
    width: 110px;
    height: 18px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEC;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menuimg2 {
    height: 18px;
    width: 23px;
    display: inline-block;
    position: relative;
    left: 110px;
}


/**********Main**********/

#mainContent img {
    width: 597px;
    height: 252px;
    display: block;
}

#rounded {
    background: linear-gradient(#4C4D4F, #3E3E3E);
    height: 16px;
    padding: 6px 0px 8px 16px;
    font-size: 10px;
    border: 1px solid #343434;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}

#rounded ul li {
    list-style: none;
    display: inline;
}

#rounded li:not(:first-child):before {
    color: #585858;
    font-size: 15px;
    position: relative;
    top: 2px;
    content: " / ";
}

.whiteText {
    color: white;
}

.blueText {
    color: #8DC3DD;
}


/**********Bottom Content**********/

#bottomContent {
    height: 339px;
    background: linear-gradient(#FFFFFF, #F2F2F2);
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    margin-bottom: 36px;
    display: inline-block;
}

#bottomHeader {
    border-bottom: 1px solid #F0F0F0;
}

.headerWords {
    font-size: 20px;
    width: 345px;
    padding: 25px 17px 28px 12px;
    color: #D0D0D0;
    border-right: 1px solid #F2F2F2;
    display: inline-block;
}

.browseButton {
    background: linear-gradient(#5595C3, #43789A);
    width: 168px;
    padding: 8px 0px 9px 18px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 5px;
}

.browseWords {
    width: 107px;
    font-size: 11px;
    color: #FFFFFF;
    display: inline-block;
}

.arrows {
    width: 18px;
    font-size: 11px;
    color: #FFFFFF;
    display: inline-block;
}

.bottomContent {
    width: 109px;
    margin: 22px 10px 0px 17px;
    display: inline-block;
    vertical-align: top;
}

.bottomHeaderIMG {
    height: 18px;
    width: 19px;
    display: inline-block;
    vertical-align: top;
}

.bottomHeader {
    height: 18px;
    font-size: 8px;
    font-weight: bold;
    display: inline-block;
    margin: auto 0;
}

.content {
    height: 25px;
    padding-top: 17px;
    font-size: 7px;
}

.contentIMG {
    height: 90px;
    width: 110px;
    margin: 0 auto;
    padding-top: 3px;
}

.bottomButton {
    width: 110px;
    height: 14px;
    background: linear-gradient(#5EB7F7, #59A0D6);
    border: 1px solid #8EC7F4;
    border-radius: 5px;
    color: white;
    font-size: 7px;
    text-align: center;
    padding-top: 4px;
}

.sideBorder {
    background-color: #EFF1F0;
    width: 1px;
    height: 200px;
    display: inline-block;
    margin: 22px 0px 0px 6px;
}

.bottomBorder {
    margin-top: 22px;
    height: 1px;
    background-color: #E2E2E2;
}


/**********map**********/

#map {
    border-bottom: 1px solid #E6E8E7;
    padding-bottom: 30px;
}

.mapContainer {
    width: 82px;
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
    font-size: 7px;
}

.mapTitle {
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 1px solid #ECECEC;
}

.mapContainer ul li {
    list-style: none;
    padding-top: 12px;
}


/**********map**********/

.footer {
    padding-top: 15px;
    font-size: 7px;
}
