<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login & Reg | Login</title>
</head>

<body>
    {% if messages %}
    {% for message in messages%}
      {% if 'not' in message.tags%}
      <h3>{{message}}</h3>
      {% endif %}
    {% endfor %}
    {% endif %}
    <h1>Registration</h1>
    {% if messages %}
    {% for message in messages%}
      {% if 'register' in message.tags%}
      <h3>{{message}}</h3>
      {% endif %}
    {% endfor %}
    {% endif %}
    <form action="/register" method="POST">
      {% csrf_token %}
        <table>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type="text" name="first_name"  />
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type="text" name="last_name"  />
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type="text" name="email"  />
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" name="password"  />
                </td>
            </tr>
            <tr>
                <td>
                    Confirm Password:
                </td>
                <td>
                    <input type="password" name="pwconf"  />
                </td>
            </tr>
        </table>
        <p><input type="submit" value="create user" /></p>
    </form>

    <h1>login</h1>
    {% if messages %}
    {% for message in messages%}
      {% if 'login' in message.tags%}
      <h3>{{message}}</h3>
      {% endif %}
    {% endfor %}
    {% endif %}
    <form action="/login" method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            Email:
          </td>
          <td>
            <input type="text" name="email" />
          </td>
        </tr>
        <tr>
          <td>
            Password:
          </td>
          <td>
            <input type="password" name="password" />
          </td>
        </tr>
      </table>
      <p><input type="submit" value="login user"/></p>
    </form>

</body>

</html>
