<!DOCTYPE html>
<html>
<head>
  <title>Login ~ The Wall</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="login">
  <h1>Login into The Wall</h1>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3>{{message}}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <form action="/login" method="POST">
    <table>
      <tr>
        <td>
          Email:
        </td>
        <td>
          <input type="text" name="email" required="True"/>
        </td>
      </tr>
      <tr>
        <td>
          Password:
        </td>
        <td>
          <input type="password" name="password" required="True"/>
        </td>
      </tr>
    </table>
    <p><input type="submit" value="login user"/></p>
  </form>

  <a href="/register">Register</a>
  </div>
</body>
</html>
