<!DOCtype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% if ninja_type == "blue" %}
        Leaondardo
      {% elif ninja_type == "orange" %}
        Michelangelo
      {% elif ninja_type == "red" %}
        Raphael
      {% elif ninja_type == "purple" %}
        Donatello
      {% else %}
        Who???
      {% endif %}
    </title>
  </head>
  <body>
      {% if ninja_type == "blue" %}
        <img src="{{ url_for('static', filename='img/leonardo.jpg') }}">
      {% elif ninja_type == "orange" %}
        <img src="{{ url_for('static', filename='img/michelangelo.jpg') }}">
      {% elif ninja_type == "red" %}
        <img src="{{ url_for('static', filename='img/raphael.jpg') }}">
      {% elif ninja_type == "purple" %}
        <img src="{{ url_for('static', filename='img/donatello.jpg') }}">
      {% else %}
        <img src="{{ url_for('static', filename='img/notapril.jpg') }}">
      {% endif %}
  </body>
</html>
