<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Submited Info</h1>
    <p>Name:
        <%= results.name%>
    </p>
    <p>Location:
        <%= results.location%>
    </p>
    <p>Language:
        <%= results.language%>
    </p>
    <p>Comment:
        <%= results.comment%>
    </p>
</body>

</html>
