<div ng-controller="AssociationsController">
  <p>Players:<select ng-model='newAssociation.player'>
    <option ng-repeat="player in players track by $index"  value={{$index}}>{{player.name}}</option>
  </select> |
  Teams:
  <select ng-model='newAssociation.team'>
    <option ng-repeat="team in teams track by $index"  value="{{team.name}}">{{team.name}}</option>
  </select>
  <button ng-click="addAssociation()">Assign Player to Team</button>
  </p>
  <table>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="player in players track by $index ">
      <td>{{player.name}}</td>
      <td>{{player.team}}</td>
      <td><button ng-click='removeAssociation($index)'>Clear Assignment</button></td>
    </tr>
  </table>
</div>
