<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Part 1</h1>
		<h3>Baseball</h3>
		<ol>
			{% for leauges in baseball %}
				<li>{{leauges.name}}</li>
			{% empty %}
				<p>No leauges found.</p>
			{% endfor %}
		</ol>

		<h3>Womens' Leagues</h3>
		<ol>
			{% for leauges in women %}
				<li>{{leauges.name}}</li>
			{% empty %}
				<p>No leauges found.</p>
			{% endfor %}
		</ol>

		<h3>Hockey Leagues</h3>
		<ol>
			{% for leauges in hockey %}
				<li>{{leauges.name}}</li>
			{% empty %}
				<p>No leauges found.</p>
			{% endfor %}
		</ol>

		<h3>Non-Football Leagues</h3>
		<ol>
			{% for leauges in notfootball %}
				<li>{{leauges.name}}</li>
			{% empty %}
				<p>No leauges found.</p>
			{% endfor %}
		</ol>

		<h3>"Conferences" Leagues</h3>
		<ol>
			{% for leauges in conferences %}
				<li>{{leauges.name}}</li>
			{% empty %}
				<p>No leauges found.</p>
			{% endfor %}
		</ol>

		<h3>Atlantic Leagues</h3>
		<ol>
			{% for leauges in atlantic %}
				<li>{{leauges.name}}</li>
			{% empty %}
				<p>No leauges found.</p>
			{% endfor %}
		</ol>

		<h3>Dallas Teams</h3>
		<ol>
			{% for teams in dallas %}
				<li>{{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h3>Raptors Teams</h3>
		<ol>
			{% for teams in raptors %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h3>City Teams</h3>
		<ol>
			{% for teams in contain_city %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h3>"T" Teams</h3>
		<ol>
			{% for teams in t_teams %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h3>Alphabetical Teams by Location</h3>
		<ol>
			{% for teams in alphabetical_location %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h3>Reverse Alphabetical by Teams</h3>
		<ol>
			{% for teams in reverse_teams %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h3>Players named Cooper</h3>
		<ol>
			{% for player in coopers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No Players found.</p>
			{% endfor %}
		</ol>

		<h3>Players named Joshua</h3>
		<ol>
			{% for player in joshua %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No Players found.</p>
			{% endfor %}
		</ol>

		<h3>Players named Cooper and not Joshua</h3>
		<ol>
			{% for player in coopers_no_joshua %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No Players found.</p>
			{% endfor %}
		</ol>

		<h3>Players named Alexander or Wyatt</h3>
		<ol>
			{% for player in alex_or_wyatt %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No Players found.</p>
			{% endfor %}
		</ol>

		<hr>
		<h1>Part 2</h1>

		<h3>Atlantic Soccer Conference</h3>
		<ol>
			{% for team in asc %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No Teams found.</p>
			{% endfor %}
		</ol>

		<h3>Current Boston Penguins</h3>
		<ol>
			{% for players in currpengs %}
				<li>{{players.first_name}} {{players.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>

		<h3>Current Players in ICBC</h3>
		<ol>
			{% for players in icbc %}
				<li>{{players.first_name}} {{players.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>

		<h3>Lopez's in ACOAF</h3>
		<ol>
			{% for players in acoaf %}
				<li>{{players.first_name}} {{players.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>

		<h3>Football Players</h3>
		<ol>
			{% for players in football_players %}
				<li>{{players.first_name}} {{players.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>

		<h3>Teams with a "Sophia"</h3>
		<ol>
			{% for teams in sophia_team %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h3>Leagues with a "Sophia"</h3>
		<ol>
			{% for leagues in sophia_league %}
				<li>{{leagues.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>

		<h3>Players names "Flores" not on Washington Roughriders</h3>
		<ol>
			{% for players in flores %}
				<li>{{players.first_name}} {{players.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
	</body>
</html>
