<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/penguin" method="post">
            <p>Name:
                <input type="text" name="name" value="">
            </p>
            <p>Age:
                <input type="text" name="age" value="">
            </p>
            <p>Height:
                <input type="text" name="height" value="">
            </p>
            <input type="submit" value="New Penguin">
        </form>
    </body>
</html>
