<div id="lost_wrapper">
    <h1>YOU LOST!</h1>
    <h3>Would you like to play again?</h3>
    <form action="/rpg/reset" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" id="button" value="Play Again!" />
    </form>
</div>
