/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto 0px auto;
 padding: 20px 20px 20px 20px;
}
#header{
 height: 150px;
 background-color: green;
 margin: 0px 0px 20px 0px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin: 0px 20px 0px 0px;
}
#main_content{
 height: 420px;
 width: 725px;
 background-color: red;
 vertical-align: top;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 margin: 15px -5px 15px 15px;
 display: inline-block;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin: 5px 0px 15px 15px;
}

#navigation, #main_content{
  display: inline-block;
}
